.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

body {
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #91929b;
  background-color: #ffffff;
}

a {
  color: #91929b;
}

.page-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  padding: 0 20px;
}

.page-header-outer {
  margin-bottom: 40px;
  border-bottom: 1px solid #f5f5f5;
}

.page-header {
  display: flex;
  height: 80px;
  padding-right: 40px;
}

.page-header__main-nav {
  margin-right: auto;
}

.main-nav {
  display: flex;
}

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.main-nav__item {
  margin-right: 30px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item_active {
  border-bottom: 1px solid #000000;
}

.main-nav__item a {
  display: inline-block;
  line-height: 80px;
  color: #b5b5b5;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__item_active a {
  color: #000000;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-list__item {
  margin-right: 20px;
}

.socials-list__item:last-child {
  margin-right: 0;
}

.page-footer__socials-item path {
  fill: #8a8e93;
}

.gradient-container {
  position: relative;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.gradient_main-news {
  width: 1045px;
  height: 340px;
}

.gradient_gallery {
  width: 680px;
  height: 240px;
}

.gradient_news {
  width: 450px;
  height: 190px;
}

.gradient-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-news-standings-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 40px;
}

.main-news {
  margin-right: 20px;
}

.main-news a {
  color: #ffffff;
  text-decoration: none;
}

.main-news__description {
  padding: 40px;
}

.main-news__time {
  font-weight: 600;
  font-size: 12px;
}

.main-news__text {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.standings {
  width: 100%;
  padding: 20px;
}

.standings__table {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

.standings__row {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.standings__row td {
  padding-bottom: 10px;
  text-align: center;
}

.standings__row td:first-child {
  text-align: left;
}

.standings__row:last-child td {
  padding-bottom: 0;
}

.standings__row_title th {
  padding-bottom: 15px;
  font-weight: 600;
  text-align: center;
  color: #b5b5b5;
}

.standings__row_title th:first-child {
  text-align: left;
}

.standings__row_active {
  color: #000000;
}

.gallery-closest-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gallery {
  position: relative;
  margin-right: 40px;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  position: relative;
}

.gallery__image {
  display: block;
}

.gallery__dots-list {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.gallery__dots-item {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin-right: 5px;
  opacity: 0.5;
}

.gallery__dots-item_active {
  opacity: 1;
}

.gallery__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.gallery__button_prev {
  top: 50%;
  left: 20px;
  margin-top: -15px;
}

.gallery__button_next {
  top: 50%;
  right: 20px;
  margin-top: -15px;
}

.section-title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
}

.section-title_small {
  font-size: 14px;
}

.closest-match {
  width: 100%;
  padding: 20px;
  color: #a8afb4;
  background-color: #f5f5f5;
}

.closest-match__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.closest-match__title-row {
  display: flex;
  margin-bottom: 45px;
}

.closest-match__title {
  margin-right: auto;
}

.closes-match__more-link {
  font-weight: 600;
  font-size: 14px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.closest-match__match-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.team {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
}

.team__title {
  width: 160px;
}

.team_first .team__title {
  margin-right: 20px;
  text-align: right;
}

.team_second .team__title {
  margin-left: 20px;
  text-align: left;
}

.team__logo {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
}

.team_first .team__logo {
  background-image: url("/img/team1-logo.png");
}

.team_second .team__logo {
  background-image: url("/img/team2-logo.png");
}

.closest-match__divider {
  width: 36px;
  height: 36px;
  margin: 0 52px;
  background-image: url("/img/vs-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.closest-match__details {
  font-size: 14px;
  text-align: center;
}

.news {
  margin-bottom: 45px;
}

.news__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 450px);
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;

  gap: 20px 25px;
}

.news__item a {
  color: #ffffff;
  text-decoration: none;
}

.news__description {
  padding: 20px;
}

.news__time {
  font-weight: 600;
  font-size: 12px;
}

.news__text {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
}

.news__all-button-container {
  text-align: center;
}

.news__all-button {
  display: inline-block;
  width: 450px;
  height: 40px;
  margin: 0 auto;
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #8a8e93;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f5f5f5;
}

.news__all-button:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.partners-outer {
  margin-bottom: 40px;
  background-color: #f5f5f5;
}

.partners {
  padding-top: 20px;
  padding-bottom: 30px;
}

.partners__title {
  margin-bottom: 45px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1050px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.partners__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.partners__item:nth-child(4n) {
  margin-right: 0;
}

.page-footer-outer {
  background-color: #f5f5f5;
}

.page-footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.page-footer__info {
  display: flex;
  margin-bottom: 10px;
}

.page-footer__logo {
  margin-right: auto;
}

.page-footer__contacts {
  font-weight: 600;
  font-size: 14px;
  text-align: right;
}

.page-footer__contacts a {
  text-decoration: none;
}

.page-footer__nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 15px 20px;
  list-style: none;
}

.page-footer__nav-item {
  margin-right: 25px;
}

.page-footer__nav-item:last-child {
  margin-right: 0;
}

.page-footer__nav-item a {
  font-weight: 600;
  color: #8a8e93;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer__copy {
  margin: 0;
  font-size: 12px;
}
